.cbp-af-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f6f6f6;
    z-index: 10000;
    height: 60px;
    overflow: visible;
}

.cbp-af-header .cbp-af-inner {
    width: 90%;
    max-width: 69em;
    margin: 0 auto;
    padding: 0 1.875em;
}

.cbp-af-header h1,
.cbp-af-header a,
.cbp-af-header img,
.cbp-af-header nav {
    display: inline-block;
    position: relative;
}



 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header h1,
.cbp-af-header a,
.cbp-af-header img,
.cbp-af-header nav a {
    line-height: 60px;
}

.cbp-af-header h1 {

    color: #333;
    letter-spacing: 4px;
    font-size: 3em;
    margin: 0;
    float: left;
}

.cbp-af-header nav {
    float: right;
}

.cbp-af-header nav a {
    color: #aaa;
    font-weight: 700;
    font-size: 1.4em;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 5px;
}

.cbp-af-header nav a:hover {
    color: #333;
}

.cbp-af-header #logo {
    vertical-align:middle;
    height: 50px;
    bottom: 6px;
    left: 12px;
}


.subitems {
    display:none;
    position:absolute;
    height:7px;
    background:#aaa;
}

.cbp-af-header nav a:hover + ul{
    display:block;
    top: 30px;
    height:7px;
}

* {
    font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.subitems li {

    display:none;
    position:absolute;
    top:30px;



}

.STYLE2 {font-family: "宋体"}

#slideshow {
    height:500px;
    position:relative;
}

body {
  position: relative;
}